*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #e3e6e6;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f3f3f3;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #ff9900;
    cursor: pointer;
}
.deliver{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #888;
}
.deliver span:first-child{
    font-size: 10px;
    color: #888;
}
.deliver span:last-child{
    font-weight: bold;
    font-size: 14px;
    color: #000;
}


.nav-search .opt {
    margin-top: 8px;
    margin-right: 20px;
}
.nav-search-input{
    /* flex: 1;
    border: none;
    padding-right:40px;
    outline: none;
    width: 390px;
    gap: 80px; */
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 5px;
    width: 486px;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    
}
.nav-search-input input{
    border: none;
    outline: none;
    width: 490px;
    
}
.btn-1{
   margin-right: 4px;
}
.nav-right{
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    gap: 17px;
}
.nav-search{
    display: flex;
   width: 487px;
}

.nav-item{
    flex-direction: column;
    font-size: 13px;
    cursor: pointer;
    display: inline block;
    justify-content: center;
    overflow: hidden;
}
.nav-item strong{
    font-size: 14px;
    margin-right: auto;
    gap: 19px;
    overflow: hidden;
}
.cart{
    flex-direction: row;
    align-items: center;
    gap: 19px;
}
.hero{
    background-image: url(/Images/hero\ image1.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}
.products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px;
}
.card{
    background-color: white;
    padding: 15px;
}
.card img{
    width: 100%;
    display: block;
    margin: 10px 0;
}
.card a{
    text-decoration: none;
    color: #007185;
}
.image-gallery{
    padding: 30px 20px;
    text-align: center;
}
.image-gallery h2{
    margin-bottom: 20px;
    font-size: 26px;
    color: #131921;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.image-container img{
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s;
}
.image-container img:hover{
    transform: scale(1.05);
}
.bottom-nav{
    background: #232f3e;
    display: flex;
    gap: 58px;
    padding: 8px 20px;
    position: absolute;
}
.bottom-nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color:#222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
  color: #ff9900;
  font-size: 26px;
  font-weight: bold;
  width: 100px;
  height: 50px;
}
.foot-panel4{
    background-color: #131921;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;  
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}



